
@font-face {
  font-family: 'PressStart2P';
  src: url('assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



:root{
  font-family: 'PressStart2P', sans-serif;
}


main{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 1px solid black;
  margin: auto;
}

#container{
  
  position: relative;
}




.tabla-jugadores{
  position: absolute ;
  width: 250px;
  height: 100%;
  border-collapse: collapse;
  right: calc(0px + 120px);
  top: 0;
}

.tabla-jugadores h1{
  font-size: 1rem;

}



.hidden{
  display: none;
}